{% block sw_cms_element_media_video_config %}
    <div class="sw-cms-el-config-media-video">
        <sw-media-field :mediaId="element.config.media.value" @media-id-change="item => element.config.media.value = item"/>
    </div>
{% endblock %}
