{% block sw_cms_block_hero %}
    <div class="sw-cms-block-hero">
        <div class="hero-image">
            <slot name="image"></slot>
        </div>
        <div class="hero-content">
            <slot name="content"></slot>
        </div>
    </div>
{% endblock %}
