{% block sw_cms_el_component_everything_modal_settings %}
    <div class="sw-cms-el-component-everything-modal-settings" style="min-height:50px">
        <h3>{{ $t('sw-cms.elements.everything-modal.headline') }}</h3>
    </div>
{% endblock %}
