<div class='card-body'>
    {% sw_include '@Storefront/storefront/component/review/review.html.twig' with {
        reviews: element.data.reviews,
        product: element.data.product
    } %}
</div>
