{% block sw_cms_el_form_config_content_form_type_options %}
    {% parent %}
    <option value="offer">
        {{ $tc('sw-cms.elements.form.config.label.typeOffer') }}
    </option>
{% endblock %}


        {% block sw_cms_el_form_config_tab_options %}
            <sw-tabs-item
                    v-if="['contact', ...formTypes.map(item => item.toLowerCase())].includes(element.config.type.value)"
                    :title="$tc('sw-cms.elements.general.config.tab.settings')"
                    name="options"
                    :active-tab="active"
            >
                {{ $tc('sw-cms.elements.general.config.tab.settings') }}
            </sw-tabs-item>
        {% endblock %}

<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_el_form_config_content_form_confirmation_text %}
    <sw-textarea-field
            v-if="['contact', ...formTypes.map(item => item.toLowerCase())].includes(element.config.type.value)"
            v-model="element.config.confirmationText.value"
            :label="$tc('sw-cms.elements.form.config.label.confirmationText')"
    />
{% endblock %}
{% block sw_cms_el_form_config_options %}
    <sw-container
            v-else-if="active === 'options' && ['contact', ...formTypes.map(item => item.toLowerCase())].includes(element.config.type.value)"
            class="sw-cms-el-config-form__tab-options"
    >
        <sw-entity-multi-id-select
                v-if="element.config.type.value === 'offer'"
                :label="$tc('sw-cms.elements.form.config.label.selectProducts')"
                :ids="element.config.products.value"
                :repository="productRepository"
                :criteria="productCriteria"
                @change="selectProducts">
        </sw-entity-multi-id-select>
        <sw-tagged-field
                v-model="element.config.mailReceiver.value"
                :class="getLastMailClass"
                :label="$tc('sw-cms.elements.form.config.label.receiverEmail')"
                name="mailReceiver"
                placeholder="john@doe.com"
                @change="updateMailReceiver"
        />
        <sw-select-field
                v-model="element.config.action.value"
                :label="$tc('sw-cms.elements.form.config.label.action')"
        >
            <option value="frontend.form.contact.send">
                {{ $tc('sw-cms.elements.form.config.label.actionContact') }}
            </option>
            <option value="frontend.form.newsletter.register.handle">
                {{ $tc('sw-cms.elements.form.config.label.actionNewsletter') }}
            </option>
            <option v-for="type in formTypes" :value="'frontend.form.' + type.toLowerCase() + '.send'">
                {{ $tc('sw-cms.elements.form.config.label.action' + type) }}
            </option>
        </sw-select-field>

        <sw-select-field
                v-model="element.config.submitText.value"
                :label="$tc('sw-cms.elements.form.config.label.submitText')"
        >
            <option value="contact.formSubmit">
                {{ $tc('sw-cms.elements.form.config.label.submitTextContact') }}
            </option>
            <option value="newsletter.formSubmit">
                {{ $tc('sw-cms.elements.form.config.label.submitTextNewsletter') }}
            </option>

            <option v-for="type in formTypes" :value="type.toLowerCase() + '.formSubmit'">
                {{ $tc('sw-cms.elements.form.config.label.submitText' + type) }}
            </option>
        </sw-select-field>
    </sw-container>
{% endblock %}
