<div style='
    max-height: 100%;
    overflow: hidden;'>
    <div style='overflow:hidden'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda cum esse facilis numquam officiis possimus
        unde voluptate! Dolores facilis molestias nisi quas tempora. Consectetur, dolor dolores maiores modi quaerat
        rerum?
    </div>
</div>
