{% block sw_cms_block_hero_preview %}

    <div class="sw-cms-block-hero preview">
        <div class="hero-image">
            <img
                    :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset"
                    alt=""
            >
        </div>
        <div class="hero-content">
            Lorem ipsum dolor sit amet, consectetur adipisicing
        </div>
    </div>
{% endblock %}
