.sw-cms-block-hero.preview {
  min-height: 220px;
  .hero-content {
    height: 100%;
    top: 0;
    color: white;
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center
  }
}
